<br/><br/>
<p align="center">Bienvenido a Corporación Milenium :)</p>

<div id="ModalFail" class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':siRegister}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert alert-succes" role="alert">
                    <p>{{exito}}</p>
                  </div>
                  <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Close</button>
            </div>
<!--                 <div class="modal-footer">
                
              </div> -->
        </div>
    </div>
</div>